@model LugNutzPremium.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Create Vehicle Manually or Automatically?</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateManually" asp-controller="Vehicles" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Manually" class="btn btn-primary" />
            </div>
        </form>
        <form asp-action="CreateAutomaticallyVin" asp-controller="Vehicles" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create Automatically" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}