@{
    ViewData["Title"] = "Home Page";
}
    
<div class="text-center">
    <h1 class="neuropolX">Welcome To LugNutz Premium</h1>   
</div>
<div class="homeScreenImageContainer"> 
    <img class="homeScreenImage" src="~/images/backgrounds/181-1811675_lamborghini-clipart-supercar-lamborghini-centenario-2017-png-transparent.png" />
</div>
