@model LugNutzEnterprize.Models.MaintenanceTask

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MaintenanceTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaintenanceTaskTitle" class="control-label"></label>
                <input asp-for="MaintenanceTaskTitle" class="form-control" />
                <span asp-validation-for="MaintenanceTaskTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenanceTaskDescription" class="control-label"></label>
                <input asp-for="MaintenanceTaskDescription" class="form-control" />
                <span asp-validation-for="MaintenanceTaskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDueAtMileage" class="control-label"></label>
                <input asp-for="TaskDueAtMileage" class="form-control" />
                <span asp-validation-for="TaskDueAtMileage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsComplete" /> @Html.DisplayNameFor(model => model.IsComplete)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

