/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    background-image: url(../images/backgrounds/BBGROUND.jpg);
    background-attachment: fixed;
    background-size: 125%;
    background-repeat: no-repeat;
    background-size: 2650px;
}

.neuropolX {
    font-family: 'Neuropol X';
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

h5 {
    color: white;
}

label {
    color: white;
}

.bg-black {
    background-color: black;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Neuropol X';
}

li.nav-item {
    justify-content: center;
    align-items: center;
}

th {
    color: white;
}

td {
    color: white;
}

dt {
    color: white;
}

dd {
    color: white;
}

.profilePic {
    height: 50px !important;
    width: 50px !important;
    border-radius: 23px !important;
}

.imageThumbnail {
    height: 150px;
    width: auto;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    margin: 20px 0px 20px 0px;
}

.whiteContainerBorder {
    color: white;
    padding: 20px;
    max-width: 1100px;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 5px solid #ffffff;
}

.messageListContainer {
    justify-content: center;
}

.messageCreatedDate {
    color: white;
    text-align: center;
}

.messageContainer {
    margin-bottom: 20px;    
}

.messageEditDeleteContainer {
    display: flex;
    margin-top: -15px;
    margin-bottom: 15px;
    justify-content: flex-end;
}

/* Sticky footer styles
-------------------------------------------------- */

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

/*All view port styling and overrides are set below*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

